@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #151F2C;
	width: 100%;
	height: 100%;
}

