@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #151f2c;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

* {
	font-family: "Mulish", sans-serif !important;
}

.backingTitle {
	text-align: left;
	font-weight: 700;
	font-size: 5rem;
	background: -webkit-linear-gradient(
		-50deg,
		rgba(3, 174, 208, 0.267),
		rgba(3, 174, 208, 0.112),
		#585de1,
		#6f58e1,
		rgba(3, 174, 208, 0.112),
		rgba(3, 174, 208, 0.279)
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Mulish", sans-serif;
}
#bt {
	margin-top: -5%;
}
#backingDescp {
	text-align: left;
	font-size: 1rem;
	font-family: "Mulish", sans-serif;
	color: #c9c9c9a7;
	font-weight: 200;
	margin-left: 2%;
	margin-bottom: 5%;
}

#backingImage {
	transform: rotate(14deg);
	width: 100vw;
	left: -15vw;
	top: -15vw;
	height: 100vh;
	background-image: url("/images/starsBG.png");
	background-size: 50%;
	background-position: center;
	mask-image: url("/images/bigF.svg");
	mask-size: 80%;
	mask-repeat: no-repeat;
	background-position-x: 0;
	animation: clip-fade 50s infinite alternate;
}

@keyframes clip-fade {
	100% {
		background-position: 100vh;
	}
}

#moveLeft {
	position: relative;
	left:-20%;
	animation: moveLeft 50s linear infinite;
}
#moveRight {
	position: relative;
	left: -260%;
	animation: moveRight 50s linear infinite;
}
@keyframes moveRight {
	100% {
		left: -100%;
	}
}
@keyframes moveLeft {
	100% {
		left: -100%;
	}
}

h1 {
	font-size: 6rem;
	background-image: linear-gradient(90deg, #03afd0 5.2%, #812dc1 50%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-color: #f3ec78;
	margin-top: -8%;

	font-weight: 700;
}
h2 {
	color: #ffffff;
	font-size: 6rem;

	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
}
p {
	color: #adadad;
	margin-top: -2%;
	font-size: 1.2rem;
	font-family: 'Mulish', sans-serif;
	font-weight: 200;
}

#introtxt {
	font-size: 1.2rem;
	width: 50%;
	line-height: 25px;
}
#mainI {
	height: 100%;
}

@media only screen and (max-width: 1145px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1rem;
	}
	p {
		font-size: 0.6rem;
	}
}


.parallax-effect{
	position: relative;
	transform-style: preserve-3d;
	transform: perspective(1000px);
	height: screen;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.inner-element {
	position: absolute;
    transform: translateZ(40px) scale(0.8);
  }

#gradient{
	background-image: linear-gradient(45deg,#00D6FF,#EB00FF);
	background-size: 150% 20%;
}
#gradient:hover {
	
	background-position: 100% 0;
    transition: all .7s ease-in-out;
}